body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    max-width: 500px;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.hidden {
    display: none;
}

h1, h2, h3 {
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.button, .primary, .accent {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.button:hover, .primary:hover, .accent:hover {
    background-color: #0056b3;
}

.vote-container {
    padding: 10px 0;
}

.vote-area {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

.vote-area li {
    padding: 10px;
    background-color: #f9f9f9;
    margin-bottom: 5px;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.option {
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
